.wx-icon {
    height: 50px;
    width: 50px;
  }
  
  #wx_icon_current {
    height: 60px;
    width: 60px;
  }
  
  @media screen and (min-width: 761px) {
    #wx_icon_current {
      height: 100px;
      width: 100px;
    }
  }