iframe {
    display: none;
}

#overview_map {
    text-align: center;
}

@media screen and (min-width: 761px) {
    iframe {
        display: block;
        margin: auto;
        max-width: 300px;
        max-height: 300px;
    }

    #overview_main {
        display: flex;
        margin-bottom: 70px;
    }

    #overview_map {
        flex: 2;
    }
}