#body {
    background-color: #afa;
    min-height: 500px;
    flex: 5;
    overflow-x: hidden;
}

@media screen and  (min-width: 721px) {
    #body {
        /* max-height: 680px; */
        /* height: 1000px; */
    }
}
