.current-wrapper
  max-width: 100vw
  width: 100%
  margin: 20px auto
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: space-evenly

.google-map
  width: 350px
  display: flex
  margin-left: auto
  margin-right: auto
  flex-direction: column
  justify-content: center
  align-items: center

  .coordinates
    font-size: 0.7rem
    color: #666

@media (min-width: 768px)

  .current-wrapper
    flex-direction: column

@media (min-width: 1400px)
  .current-wrapper
    flex-direction: row