.location-form
  margin: 0 auto
  max-width: 800px

  .geolocation-error
    font-size: 0.9rem
    color: #c00

  .location-form-header
    font-size: 1rem
    display: inline-block
    margin: 2px

  input
    font-size: 1.5rem
    width: 300px
    background-color: #FFF8DC
    color: black
    border: 3px solid #FFC107
    border-radius: 5px

  input:focus
    border: 3px solid #FFD700
    outline: none

  @media (min-width: 768px)
    font-size: 1.5rem