#week {
    min-width: 100%;
  }
  
  #week_alert {
    background-color: #cff;
    display: flex;
    border: 2px solid #f00;
  }
  
  #days {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 721px){
    #days {
      flex-direction: row;
    }
  }
  