html {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {margin:0;padding:0;height:100%;}

#App {
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
}

@media screen and  (min-width: 761px) {
    #main {
        flex-direction: row;
    }
}
