html {
  font-size: 16px;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

#App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

@media screen and (min-width: 883px) {
  #main {
    flex-direction: row;
  }
}
