#history_form {
    background-color: #f99;
    height: 30px;
    border: 3px dashed #000;
    border-radius: 5px;
}

#date_input {
    height: 25px;
    font-size: 15px;
}

#date_input_btn {
    background-color: #00f;
    color: #fff;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 4px;
}

#date_input_btn:hover {
    background-color: #55f;
}