.sun {
  /*animation: spinner 10s infinite linear;*/
}

.ray {
  stroke: rgb(320, 220, 0);
  stroke-width: 5px;
  stroke-linecap: round;
}

.moon {
  fill: #fff;
  stroke: #000;
  stroke-width: 2px;
  stroke-linecap: round;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
  ;
}
