.wind-vane {
    background-color: #fff;
  }
  
  .wind-direction {
    font-size: 20px;
  }
  
  .north-wind {
    top: -3%;
    left: 47%;
  }
  .south-wind {
    bottom: -1%;
    left: 47%;
  }
  .east-wind {
    top: 40%;
    right: 23%;
  }
  .west-wind {
    top: 40%;
    left: 21%;
  }
  
  .wind-vane-circle {
    stroke: #000;
    stroke-width: 2px;
    fill: transparent;
  }
  .wind-vane-arrow-body {
    stroke: #f00;
    stroke-width: 4px;
    fill: red;
  }
  
  .wind-vane-arrow-head {
    stroke: #f00;
    stroke-width: 1px;
    fill: red;
  }
  
  .wind-vane-arrow-tail {
    stroke: #f00;
    stroke-width: 1px;
    fill: red;
  }
  
  #wind_vane_current {
    flex: 1;
    display: block;
    position: relative;
  }
  #wind_vane_image_current {
    width: 80px;
    height: 80px;
  }
  
  #wind_direction_text {
    fill: #000;
  }
  
  @media screen and  (min-width: 761px) {
    #wind_vane_current {
      max-width: 150px;
    }
    #wind_vane_image_current {
      width: 125px;
      height: 125px;
    }
  }
  