#search_spinner {
    display: None;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
  }
  
  /* Spinner */
  
  .circle {
    fill: #000;
  }
  
  .circle1 {
    fill: #000;
  }
  
  .circle2 {
    fill: #222;
  }
  
  .circle3 {
    fill: #444;
  }
  
  .circle4 {
    fill: #666;
  }
  
  .circle5 {
    fill: #888;
  }
  
  .circle6 {
    fill: #bbb;
  }
  
  .circle7 {
    fill: #ddd;
  }
  
  .circle8 {
    fill: #fff;
  }
  
  .spinner {
    display: none;
    animation: rotation 0.75s steps(8) infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* End Spinner */