.temp-div {
    display: block;
    text-align: center;
  }
  
  .min-max {
    font-size: 1rem;
    color: #00f;
    flex: 1;
  }

  .current-min-max-text {
    font-weight: 600;
  }
  
  #current_temp_div {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 150px;
  }
  
  #current_temp {
    font-size: 2rem;
    color: #f00;
  }
  
  #min_max_temps {
    display: flex;
    justify-content: center;
  }
  
  @media scree and (min-width: 761px) {
    .min-max {
      font-size: 1.2rem;
    }

    #current_temp_div {
      flex: 1;
    }
  }