.sidebar-item {
  color: black;
  font-size: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-item:hover {
  text-decoration: none;
}

.sidebar-item-selected {
  background-color: #ccf;
}

.sidebar-item-unselected {
  background-color: #88f;
  cursor: pointer;
}

.sidebar-item-unselected:hover {
  background-color: #ccf;
}

.sidebar-img {
  height: 50px;
  width: 50px;
  stroke: #000;
  stroke-width: 5px;
  fill: transparent;
}

.sidebar-item-part {
  flex: 1;
}

@media screen and (min-width: 883px) {
  .sidebar-item {
    font-size: 1.3rem;
    display: block;
    margin: auto;
    padding: 20px 10px 20px 10px;
    height: auto;
  }
}
